body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 13px Helvetica, Arial;
}
#bottom-bar {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}
img {
  margin-left: 5px;
  margin-right: 5px;
}
#video {
  position: fixed;
  width: 120px;
  height: 90px; 
  bottom: 0px;
  left:0px;
}
#shutter {
  position: fixed;
  bottom: 55px;
  left:140px;
}
#msg-form {
  padding-left: 120px; 
}
.messages {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  float:left;
}
.messages li {
  padding: 5px 10px;
  width: 100%;
  position: relative;
  word-wrap: break-word;
}
.messages li:nth-child(odd) {
  background: #eee;
}
.messages .text {
  float:left;
}
.messages .timestamp {
  float: right;
  font-weight: bold;
}
#timestamps {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:8%;
  float:left;
}
#timestamps li {
  padding: 5px 10px;
  text-align: right;
}
#timestamps li:nth-child(odd) {
  background: #eee;
}
