body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 13px Helvetica, Arial;
}
#purple-header {
  color:#cdbfe3;
  background-color: #6f5499;
  background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
  padding: 0 5% 0 5%;
}
#bottom-bar {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}
img {
  margin-left: 5px;
  margin-right: 5px;
}
#video {
  position: fixed;
  width: 120px;
  height: 90px; 
  bottom: 0px;
  left:0px;
}
#shutter {
  position: fixed;
  bottom: 55px;
  left:140px;
}
#msg-form {
  padding-left: 120px; 
}
.messages {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  float:left;
  position: fixed;
}
.messages li {
  padding: 5px 10px;
  width: 100%;
  position: relative;
  word-wrap: break-word;
}
.messages li:nth-child(odd) {
  background: #eee;
  float:left;
}
.messages .text {
  float:left;
}
.messages .timestamp {
  float: right;
  font-weight: bold;
}
#header {
  top:0px;
  position: fixed;
}


